button
{
   padding: 10px;
   border-radius: 10px;
   border: 0px;
   background: black;
   -webkit-text-fill-color:  rgb(0, 0, 0);
}
.border-button {
  border: solid 0px rgb(0, 0, 0);
  transition: border-width 0.6s linear;
  border-radius: 20px;
  background-color: transparent;
  padding: 2px 7px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
/* On mouse-over */
.btn:hover {background: rgba(238, 238, 238, 0.48);}
.fourofour {color: black}
.border-button {
  border: solid 0px rgb(0, 255, 8);
  transition: border-width 0.4s linear;
}

.border-button:hover { border-width: 3.5px; }
* {margin: 0; padding: 0}
body {background: rgb(255, 255, 255);}
canvas {display: block;}